
#fix_back1{
width:100%;
height:150%;
background-image:url("image/bathchair/0618_187.jpg");
position:fixed;
background-position:center;
background-size:cover;
display:none;
}
#fix_back2{
width:100%;
height:150%;
background-image:url("image/idForumStyle/id-01.png");
position:fixed;
background-position:center;
background-size:cover;
}

.fix_cover{
height:100%;
width:100%;
background-color:rgba(43,43,43,1);
opacity:0.85;
position:absolute;
}
.fix_cover3{
height:100%;
width:100%;
background-image:url("image/bathchair/cover2-01.png");
background-position:center;
background-size:cover;
position:absolute;
opacity:0;
}
.fix_cover4{
height:100%;
width:100%;
background-image:url("image/bathchair/cover1-01.png");
background-position:center;
background-size:cover;
position:absolute;
opacity:0;
}


/*common*/
#p1{
margin-left:auto;
margin-right:auto;
width:76%;
height:282;
position:relative;
}
#p1_title{
width:368;
height:208;
position:relative;
margin-top:56;
}
#p1_icon{
width:177;
height:152;
position:relative;
float:left;
}
#icon_image{
width:120;
height:120;
position:absolute;
left:10;
background-image:url('image/idForumStyle/id-03.png');
background-size:100%,auto;
background-repeat:no-repeat;

}

#p1_text{
width:191;
height:152;
float:left;
}
#p1_textA{
width:190;
height:29;
margin-top:17;
color:#b9b897;
font-size:20;
}
#p1_textB{
width:320;
height:40;
color:white;
font-size:30;
}
#p1_textC{
width:300;
height:30;
color:white;
font-size:17;
}
#p1_partner{
float:left;
height:80;
width:160;
}
.partner{
width:80;
height:60;
float:left;
position:relative;
}
.partner_text{
width:80;
height:20;
font-size:10;
color:white;
margin-right:auto;
margin-left:auto;
margin-top:10;
text-align:center;
}
#partner_image1{
width:53;
height:53;
margin-left:auto;
margin-right:auto;
background-image:url('image/zipco/zipcoS-06.png');
background-repeat:no-repeat;
background-size:100%,auto;
}


#lines{
width:12;
height:120;
position:absolute;
left:145;
top:0;
}

.middle_line1{
width:12;
height:2;
background-color:#b9b897;
}
.middle_line2{
width:2;
height:98%;
background-color:#b9b897;
position:absolute;
left:5;
}
.middle_line3{
width:12;
height:2;
background-color:#b9b897;
position:absolute;
bottom:0;
}
#lines2{
width:120;
height:12;
position:relative;
margin-left:auto;
margin-right:auto;
margin-top:12;
display:none;
}

.middle_line1_2{
width:2;
height:12;
background-color:#b9b897;
}
.middle_line2_2{
width:98%;
height:2;
background-color:#b9b897;
position:absolute;
top:5;
}
.middle_line3_2{
width:2;
height:12;
background-color:#b9b897;
position:absolute;
right:0;
top:0;
}

#p2{
margin-left:auto;
margin-right:auto;
width:100%;
height:auto;
position:relative;
}
.typeA{
margin-left:auto;
margin-right:auto;
width:95%;
height:464;
position:relative;
margin-top:10;
margin-bottom:80;
}
.typeA_1{
width:50%;
height:464;
float:left;
/* background-color:#b9b897; */
position:relative;
}
.typeA_2{
width:50%;
height:464;
float:left;
/* background-color:#b9b897; */
position:relative;
}
.typeA_img{
width:100%;
height:100%;
position:relative;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
#typeA_img_1{
background-image:url('image/idForumStyle/id-02.png');
}
.typeA_text{
width:80%;
height:60%;
margin-top:15%;
margin-left:6%;
color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}
/* TYPE D */

.typeD{
margin-left:auto;
margin-right:auto;
width:100%;
height:240;
position:relative;
margin-top:0;
}
.typeD_1{
width:50%;
height:240;
float:left;
background-color:#b9b897;
position:relative;
}
.typeD_2{
width:50%;
height:240;
float:left;
background-color:#b9b897;
position:relative;
}
.typeD_img{
width:100%;
height:100%;
position:relative;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
#typeD_img_1{
background-image:url('image/bathchair/bath14.jpg');
}


.typeD_text{
width:80%;
height:60%;
margin-top:7%;
margin-left:6%;
color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}

#typeB_D1{
background-color:#b9b897;
width:100%;
margin-top:0;
}
#typeB_D2{
background-color:#b9b897;
width:100%;
margin-top:0;
}



/* TYPE B */
.typeB{
margin-left:auto;
margin-right:auto;
width:95%;
height:240;
position:relative;
margin-top:10;
}
.typeB_1{
width:25%;
height:240;
float:left;
/* background-color:#b9b897; */
position:relative;
}
.typeB_2{
width:50%;
height:240;
float:left;
/* background-color:#b9b897; */
position:relative;
}
.typeB_img{
width:100%;
height:100%;
position:relative;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.typeB_text{
width:80%;
height:60%;
margin-top:29;

color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}
.typeF_text{
color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}

.typeZ{
margin-left:auto;
margin-right:auto;
width:95%;
height:100;
position:relative;
margin-top:10;
text-align:center;
color:white;
font-size:20;
}
.typeY{
margin-left:auto;
margin-right:auto;
width:95%;
height:50%;
position:relative;
margin-top:10;
}


.typeE{
margin-left:auto;
margin-right:auto;
width:95%;
height:240;
position:relative;
margin-top:10;
}
.typeF{
margin-left:auto;
margin-right:auto;
width:850;
height:200;
position:relative;
margin-top:10;
position:relative;
background-size:100%,auto;
background-repeat:no-repeat;
}
#typeF_1{
background-image:url('image/idForumStyle/banner.jpg');
height:100;
}
#typeF_2{
background-image:url('image/idForumStyle/banner 2014.jpg');
height:150;
}
#typeF_3{
background-image:url('image/idForumStyle/921banner.png');
height:150;
}
#typeF_4{
background-image:url('image/idForumStyle/heartday.jpg');
height:150;
}
#typeF_5{
background-image:url('image/idForumStyle/1003.png');
height:227;
}
#typeF_6{
background-image:url('image/idForumStyle/bone.jpg');
height:150;
}
#typeF_7{
background-image:url('image/idForumStyle/1111.jpg');
height:175;
}
#typeF_8{
background-image:url('image/idForumStyle/van1114.png');
height:161;
}
#typeF_16{
background-image:url('image/idForumStyle/5EFoRnm.png');
height:161;
}

#typeF_9{
background-image:url('image/idForumStyle/1123.png');
height:146;
}
#typeF_10{
background-image:url('image/idForumStyle/214.png');
height:150;
}
#typeF_11{
background-image:url('image/idForumStyle/chineseNewYear.jpg');
height:250;
}
#pikaPika{
background-image:url('image/idForumStyle/PIKA-01.png');
height:150;
}
#typeF_13{
background-image:url('image/idForumStyle/patrick.jpg');
height:250;
}
#typeF_14{
background-image:url('image/idForumStyle/forests-10.png');
height:150;
}
#typeF_15{
background-image:url('image/idForumStyle/summerExpo-01.jpg');
height:161;
}
#typeF_17{
background-image:url('image/idForumStyle/banner 2015.jpg');
height:200;
}





#view_more{
width:100%;
height:151;
position:relative;
margin-top:100;
}
#view_more_buttom{
width:310;
height:50;
margin-left:auto;
margin-right:auto;
background-color:#b9b897;
color:white;
text-align:center;
line-height:3;
font-size:18;
cursor:pointer;
}
#buttom_other_page{
width:310;
height:50;
margin-left:auto;
margin-right:auto;
color:white;
text-align:center;
line-height:1.6;
font-size:15;
margin-top:8;
}

#next{
width:152;
height:50;
background-color:#b9b897;
float:left;
cursor:pointer;
}

#pre{
width:152;
height:50;
background-color:#b9b897;
float:left;
margin-right:6;
cursor:pointer;
}


#footer{
width:100%;
height:35;
background-color:#b9b897;
color:white;
text-align:center;
line-height:2.7;
font-size:14;
}
