@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');

::-webkit-scrollbar{
background-color:#2b2b2b;
width:0;
}
::-webkit-scrollbar-thumb{
background-color:#e6674d;
width:0;
}

body{
padding:0;
margin:0;
background-color:#3c3c3d;
font-family: 'Josefin Sans', sans-serif;
}

#load{
background-color:#2b2b2b;
width:100%;
height:100%;
position:fixed;
z-index:10;
}
#load_photo{
width:237;
height:79;
margin-left:auto;
margin-right:auto;
top:47%;
position:relative;
z-index:11;
overflow:hidden;
}
#load_A{
width:79;
height:79;
left:-79;
top:0;
position:absolute;
z-index:12;
background-image:url("image/mainpage/load-01.png")
}
#load_B{
width:79;
height:79;
left:237;
top:0;
position:absolute;
z-index:11;
background-image:url("image/mainpage/load-03.png")
}
#load_C{
width:79;
height:79;
left:237;
top:0;
position:absolute;
z-index:13;
background-image:url("image/mainpage/load-02.png")
}

#header{
background-color:#e6674d;
height:45;
width:100%;
color:white;
position:relative;
}
#header_content{
height:30;
width:356;
right:4;
top:15;
position:absolute;
font-size:15;
}

#main{
height:auto;
width:100%;
position:relative;
}
/* page1 */
#dish{
background-color:#2b2b2b;
top:22%;
height:50%;
width:100%;
position:relative;
}
#page1{
height:100;
width:100%;
position:relative;
}

.main_sushi{
height:52%;
top:20%;
}
.main_sushi_img{
width:100%;
height:100%;
}
.sushi_text{
width:100%;
height:20%;
text-align:center;
color:white;
font-size:20;
}
.lines{
width:100%;
height:20%;
position:relative;
margin-top:9%
}
.line1{
width:2;
height:18;
background-color:white;
position:absolute;
}
.line2{
width:100%;
height:2;
top:8;
background-color:white;
position:absolute;
}
.line3{
width:2;
height:18;
right:0;
background-color:white;
position:absolute;
}
#graphic{
position:absolute;
left:20%;
cursor:pointer;

}
#product{
position:absolute;
right:20%;
cursor:pointer;

}
#about{
position:relative;
margin-left:auto;
margin-right:auto;
cursor:pointer;

}
#gra_image{
background-image:url("image/mainpage/product_sushi-04.png");
background-size:100%,auto;
background-repeat:no-repeat;
position:relative;
}
#gear{
background-image:url("image/mainpage/product_sushi-06.png");
background-size:100%,auto;
background-repeat:no-repeat;
position:absolute;
}
#about_image{
background-image:url("image/mainpage/product_sushi-07.png");
background-size:100%,auto;
background-repeat:no-repeat;
}
#SalmonEgg1{
background-image:url("image/mainpage/product_sushi-09.png");
background-size:100%,auto;
background-repeat:no-repeat;
position:absolute;
}
#SalmonEgg2{
background-image:url("image/mainpage/product_sushi-10.png");
background-size:100%,auto;
background-repeat:no-repeat;
position:absolute;
}

#pro_image{
background-image:url("image/mainpage/product_sushi-05.png");
background-size:100%,auto;
background-repeat:no-repeat;
}
#flower{
background-image:url("image/mainpage/product_sushi-08.png");
background-size:100%,auto;
background-repeat:no-repeat;
position:absolute;
}
/* PAGE2 */

#page2{
height:100;
width:100%;
position:relative;
}
#product_manu{
height:416;
width:100%;
float:left;
}

/* PAGE2 LEFT-------------- */
#product_manu_left{
background-color:2b2b2b;
height:416;
width:613;
float:left;
margin:0;
position:relative;
}
#product_icon{
width:111;
height:auto;
top:114;
left:128;
position:absolute;
}
#product_manu_left_image{
width:111;
height:111;
background-image:url("image/mainpage/product_sushi-01.png");
background-size:100%,auto;
}
#product_manu_left_lines{
width:111;
height:8;
position:relative;
margin-top:16;
}
.product_manu_line1{
width:2;
height:13;
background-color:white;
position:absolute;
}
.product_manu_line2{
width:100%;
height:2;
top:6;
background-color:white;
position:absolute;
}
.product_manu_line3{
width:2;
height:13;
right:0;
background-color:white;
position:absolute;
}
#product_manu_left_text{
width:100%;
height:20%;
font-size:16;
text-align:center;
color:white;
margin-top:20;
}
#product_middle{
position:absolute;
width:12;
height:2;
top:114;
left:275;
}
.middle_line1{
width:12;
height:2;
background-color:white;
}
.middle_line2{
width:2;
height:99%;
background-color:white;
position:absolute;
left:5;
}
.middle_line3{
width:12;
height:2;
background-color:white;
position:absolute;
bottom:0;
}

#product_manu_item{
width:270;
height:233;
position:absolute;
top:97;
left:314;
opacity:0;
}
.pro_item{
width:270;
height:22;
color:white;
position:relative;
margin-top:17;
font-size:17;
cursor:pointer;
}
#product_manu_1{
background-image:url("image/mainpage/product_sushi-04.png");
background-size:22px,22px;
background-repeat:no-repeat;
color:#e6674d;

}
#product_manu_2{
background-image:url("image/mainpage/product_sushi-04.png");
background-size:22px,22px;
background-repeat:no-repeat;
}
#product_manu_3{
background-image:url("image/mainpage/product_sushi-04.png");
background-size:22px,22px;
background-repeat:no-repeat;
}
#product_manu_4{
background-image:url("image/mainpage/product_sushi-04.png");
background-size:22px,22px;
background-repeat:no-repeat;
}
#product_manu_5{
background-image:url("image/mainpage/product_sushi-04.png");
background-size:22px,22px;
background-repeat:no-repeat;
}

.product_manu_text{
height:15;
left:40;
top:4;
position:absolute;
}

#product_manu_right{
background-color:e6674d;
height:416;
float:left;
margin:0;
}
.product_manu_right_photo{
background-size:100%,auto;
background-position:center;
background-repeat:no-repeat;
position:absolute;
height:416;
opacity:0;
}
#product_manu_right_1{
opacity:1;
background-image:url('image/mainpage/sawmate.jpg');
}
#product_manu_right_2{
background-image:url('image/mainpage/0618.jpg');
}
#product_manu_right_3{
background-image:url('image/mainpage/zipco.jpg');
}
#product_manu_right_4{
background-image:url('image/mainpage/pokeLamp.jpg');
}
#product_manu_right_5{
background-image:url('image/mainpage/muscle.jpg');
}


/* GRAPHIC MANU */
#graphic_manu{
height:416;
width:100%;
float:left;
margin-top:50;
}
#graphic_manu_left{
background-color:2b2b2b;
height:416;
width:613;
float:left;
margin:0;
position:relative;
}
#graphic_icon{
width:111;
height:auto;
top:114;
left:128;
position:absolute;
}
#graphic_manu_left_image{
width:111;
height:111;
background-image:url("image/mainpage/product_sushi-03.png");
background-size:100%,auto;
}
#graphic_manu_left_lines{
width:111;
height:8;
position:relative;
margin-top:16;
}
#graphic_manu_left_text{
width:110%;
height:20%;
font-size:16;
text-align:center;
color:white;
margin-top:20;
margin-left:-6;
}
#graphic_middle{
position:absolute;
width:12;
height:0;
top:114;
left:275;
}
#graphic_manu_item{
width:270;
height:233;
position:absolute;
top:97;
left:314;
opacity:0;
}
#graphic_manu_1{
background-image:url("image/mainpage/product_sushi-05.png");
background-size:22px,22px;
background-repeat:no-repeat;
color:#e6674d;
}
#graphic_manu_2{
background-image:url("image/mainpage/product_sushi-05.png");
background-size:22px,22px;
background-repeat:no-repeat;
line-height:1.3;
}
#graphic_manu_3{
background-image:url("image/mainpage/product_sushi-05.png");
background-size:22px,22px;
background-repeat:no-repeat;
}
#graphic_manu_4{
background-image:url("image/mainpage/product_sushi1.png");
background-size:22px,22px;
background-repeat:no-repeat;
}
#graphic_manu_5{
background-image:url("image/mainpage/product_sushi1.png");
background-size:22px,22px;
background-repeat:no-repeat;
}
#graphic_manu_right{
background-color:e6674d;
height:416;
float:left;
margin:0;
}
.graphic_manu_right_photo{
background-size:100%,auto;
background-position:center;
background-repeat:no-repeat;
position:absolute;
height:416;
opacity:0;
}

#graphic_manu_right_1{
opacity:1;
background-image:url('image/mainpage/forum.jpg');
}
#graphic_manu_right_2{
background-image:url('image/mainpage/poster.jpg');
}
/* PAGE3 */
#page3{
width:100%;
height:650;
position:relative;
background-color:2b2b2b;
margin-top:50;
font-size:16;
}
#about_A{
height:650;
width:26.5%;
position:relative;
float:left;
}
#about_A_content{
position:absolute;
top:100;
left:50%;
width:195;
height:320;
}
#about_A_myphoto{
width:195;
height:195;
background-image:url('image/mainpage/about_me-01.png');
background-repeat:no-repeat;
background-size:100%,auto;
}
#about_A_lines{
width:100%;
height:18;
position:relative;
margin-top:17;
}
.line1_A{
width:2;
height:18;
background-color:#e6674d;
position:absolute;
}
.line2_A{
width:100%;
height:2;
top:8;
background-color:#e6674d;
position:absolute;
}
.line3_A{
width:2;
height:18;
right:0;
background-color:#e6674d;
position:absolute;
}
#about_A_name{
width:100%;
height:24;
font-size:24;
color:#e6674d;
text-align:center;
margin-top:17;
}
#about_A_mail{
width:100%;
height:65;
font-size:16;
color:white;
text-align:center;
margin-top:10;
line-height:1.3;
}
#about_A_big_lines{
width:18;
height:0;
position:absolute;
top:100;
left:97%;
}

.line1_B{
width:18;
height:2;
background-color:#e6674d;
position:absolute;
}
.line2_B{
width:2;
height:99%;
left:9;
background-color:#e6674d;
position:absolute;
}
.line3_B{
width:18;
height:2;
bottom:3;
background-color:#e6674d;
position:absolute;
}
/* ABOUT B */
#about_B{
height:650;
width:32.5%;
position:relative;
float:left;
color:white;
font-size:16;
}
#about_B_content{
height:537;
width:450;
position:relative;
margin-top:100;
margin-left:10%;
}
.about_B_title{
height:18;
width:284;
position:absolute;
color:white;
font-size:18;
}
.about_B_title_icon{
height:18;
width:34;
background-image:url('image/mainpage/about_me-02.png');
background-size:17px,17px;
background-repeat:no-repeat;
float:left;
}
.about_B_title_text{
height:18;
width:250;
float:left;
}
#about_B_edu_cy{
width:63;
height:83;
top:50;
left:72;
position:absolute;
color:#e6674d;
}
#about_B_edu_cn{
width:240;
height:83;
top:50;
left:136;
position:absolute;
}
#about_B_skill{
top:152;
}
#about_B_skill_1{
width:112;
height:219;
top:195;
left:72;
position:absolute;
line-height:1.5;
}
#about_B_skill_2{
width:112;
height:219;
top:195;
left:210;
position:absolute;
line-height:1.5;
}
#about_B_language{
top:387;
}
#about_B_language_c{
width:115;
height:65;
top:426;
left:72;
position:absolute;
line-height:1.5;
}

#about_C{
height:563;
width:0;
position:relative;
float:left;
}
/* ABOUT D */

#about_D{
height:563;
width:41%;
position:relative;
float:left;
}
#about_D_content{
height:548;
width:501;
position:relative;
margin-top:100;
margin-left:5%;
}
#about_B_exp_y{
width:41;
height:382;
top:50;
left:85;
position:absolute;
line-height:1.6;
color:#e6674d;
}
#about_B_exp_n{
width:351;
height:410;
top:50;
left:150;
position:absolute;
line-height:1.6;
color:white;
}
#about_B_exp_o{
width:310;
height:410;
top:46;
left:160;
position:absolute;
line-height:1.6;
color:#e6674d;
}

#footer{
width:100%;
height:35;
background-color:#e6674d;
color:white;
text-align:center;
line-height:2.7;
font-size:14;
}

