

/*common*/
#p1{
margin-left:auto;
margin-right:auto;
width:76%;
height:282;
position:relative;
}
#p1_title{
width:368;
height:208;
position:relative;
margin-top:56;
}
#p1_icon{
width:177;
height:152;
position:relative;
float:left;
}
#icon_image{
width:120;
height:120;
position:absolute;
left:10;
background-image:url('image/poster/poster-02.png');
background-size:100%,auto;
background-repeat:no-repeat;
}

#p1_text{
width:191;
height:152;
float:left;
}
#p1_textA{
width:250;
height:30;
margin-top:20;
color:#b9b897;
font-size:20;
}
#p1_textB{
width:390;
height:40;
color:white;
font-size:31;
}
#p1_textC{
width:350;
height:30;
color:white;
font-size:17;
}
#p1_partner{
float:left;
height:80;
width:160;
}
.partner{
width:80;
height:60;
float:left;
position:relative;
}
.partner_text{
width:80;
height:20;
font-size:10;
color:white;
margin-right:auto;
margin-left:auto;
margin-top:10;
text-align:center;
}

#lines{
width:12;
height:120;
position:absolute;
left:145;
top:0;
}

.middle_line1{
width:12;
height:2;
background-color:#b9b897;
}
.middle_line2{
width:2;
height:98%;
background-color:#b9b897;
position:absolute;
left:5;
}
.middle_line3{
width:12;
height:2;
background-color:#b9b897;
position:absolute;
bottom:0;
}
#lines2{
width:120;
height:12;
position:relative;
margin-left:auto;
margin-right:auto;
margin-top:12;
display:none;
}

.middle_line1_2{
width:2;
height:12;
background-color:#b9b897;
}
.middle_line2_2{
width:98%;
height:2;
background-color:#b9b897;
position:absolute;
top:5;
}
.middle_line3_2{
width:2;
height:12;
background-color:#b9b897;
position:absolute;
right:0;
top:0;
}

#p2{
margin-left:auto;
margin-right:auto;
width:100%;
height:auto;
position:relative;
}
.typeA{
margin-left:auto;
margin-right:auto;
width:95%;
height:464;
position:relative;
margin-top:10;
margin-bottom:80;
}
.typeA_1{
width:50%;
height:464;
float:left;
/* background-color:#e6674d; */
position:relative;
}
.typeA_2{
width:50%;
height:464;
float:left;
/* background-color:#e6674d; */
position:relative;
}
.typeA_img{
width:100%;
height:100%;
position:relative;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
#typeA_img_1{
background-image:url('image/poster/poster-01.png');
}
.typeA_text{
width:80%;
height:60%;
margin-top:15%;
margin-left:6%;
color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}
/* TYPE D */

.typeD{
margin-left:auto;
margin-right:auto;
width:90%;
height:240;
position:relative;
margin-top:15;
}
.typeD_1{
width:48%;
margin-right:2%;
height:240;
float:left;
position:relative;
}
.typeD_2{
width:50%;
height:240;
float:left;
background-color:#e6674d;
position:relative;
}

.typeD_img{
width:100%;
height:100%;
position:relative;
background-size:100%,auto;
background-repeat:no-repeat;
}
#typeD_img_1{
background-image:url('image/poster/traffic-01.jpg');
}
#typeD_img_2{
background-image:url('image/poster/traffic-02.jpg');
}
#typeD_img_3{
background-image:url('image/poster/traffic-03.jpg');
}
#typeD_img_4{
background-image:url('image/poster/traffic-04.jpg');
}
#typeD_img_5{
background-image:url('image/poster/traffic-05.jpg');
}
#typeD_img_6{
background-image:url('image/poster/traffic-06.jpg');
}
#typeD_img_7{
background-image:url('image/poster/traffic-07.jpg');
}
#typeD_img_8{
background-image:url('image/poster/traffic-08.jpg');
}

#typeD_img_9{
background-image:url('image/poster/traffic-09.jpg');
}
#typeD_img_10{
background-image:url('image/poster/traffic-10.jpg');
}



.typeD_text{
width:80%;
height:60%;
margin-top:7%;
margin-left:6%;
color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}

#typeB_D1{
background-color:#e6674d;
width:100%;
margin-top:0;
}
#typeB_D2{
background-color:#e6674d;
width:100%;
margin-top:0;
}



/* TYPE B */
.typeB{
margin-left:auto;
margin-right:auto;
width:95%;
height:240;
position:relative;
margin-top:10;
}
.typeB_1{
width:25%;
height:240;
float:left;
/* background-color:#e6674d; */
position:relative;
}
.typeB_2{
width:50%;
height:240;
float:left;
/* background-color:#e6674d; */
position:relative;
}
.typeB_img{
width:100%;
height:100%;
position:relative;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}
#typeB_img_1{
background-image:url('image/poster/IMG_2337.jpg');
}
#typeB_img_2{
background-image:url('image/poster/DIMG_2338.jpg');
}
#typeB_img_3{
background-image:url('image/poster/DIMG_2346.jpg');
}
#typeB_img_4{
background-image:url('image/poster/DIMG_2341.jpg');
}
#typeB_img_5{
background-image:url('image/poster/DIMG_2334.jpg');
}
#typeB_img_6{
background-image:url('image/poster/DIMG_2344.jpg');
}
.typeB_text{
width:80%;
height:60%;
margin-top:29;
margin-left:6%;
color:white;
line-height:1.5;
font-size:17;
font-weight:300;
}

.typeZ{
margin-left:auto;
margin-right:auto;
width:95%;
height:100;
position:relative;
margin-top:10;
text-align:center;
color:white;
font-size:20;
}
.typeY{
margin-left:auto;
margin-right:auto;
width:95%;
height:50%;
position:relative;
margin-top:10;
}


.typeE{
margin-left:auto;
margin-right:auto;
width:95%;
height:240;
position:relative;
margin-top:10;
}

